.action {
	color: #00F;
	cursor: pointer;
}

.popup_title {
	padding: 5px;
	background: #88F;
	margin-bottom: 5px;
}

.login_content {
    text-align: center;
}

.popup_background {
	background: #AAA;
	width: 100%;
	height: 100%;
}
